@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@500;700;900&display=swap');
  
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&family=Roboto:wght@500;700;900&display=swap');
 
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&family=Patrick+Hand&family=Roboto:wght@500;700;900&display=swap');
 
*{
  font-family: 'Lobster', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Lobster', cursive;  
  font-family: 'Indie Flower', cursive;
  font-family: 'Patrick Hand', cursive;
}
.App{
  width: 100vw;
  height: 100vh;
}